@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Manrope', sans-serif;
}

body {
    background-color: #0e0e0e;
    height: 100vh;
    overflow-y: hidden;
}

.CodeMirror {
    overflow-y: visible;
    position: fixed;
    top: 0; right: 0;
    width: calc(50vw - 20px);
    height: calc(80vh - 40px);
    font-size: 1.2em;
    border-bottom-left-radius: 20px;
}

.CodeMirror * {
    font-family: monospace;
}

#output {
    position: fixed;
    top: 80vh; right: 0;
    width: calc(50vw - 20px);
    height: 20vh;
    padding: 10px;
    color: #fff;
    white-space: pre-wrap;
    font-family: monospace;
}

#output.error {
    color: rgb(255, 95, 95);
}

.btn_field {
    position: fixed;
    top: 70vh;
    right: 0;
    align-items: center;
    width: 50vw;
    justify-items: center;
    display: flex;
    justify-content: center;
}

#sendButton {
    outline: none;
    border: .2vh solid white;
    background-color: transparent;
    padding: 1vh 3vh;
    color: #ffffff;
    font-size: 18px;
    cursor: pointer;
    border-radius: 10px;
}

.loading_block {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0; left: 0;
    background-color: #000000;
    z-index: 1000;
    color: #fff;
}

.loading_block p {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    font-weight: normal;
}